@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400;1,700&family=Tomorrow:wght@400;500;600;700&display=swap");

$font-family-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: Tomorrow, $font-family-sans-serif;

$ruby: #9b2226;
$rust: #b53b03;
$flame: #e14a14;
$gamboge: #ee9900;
$onyx: #3f3f3f;
$sapphire: #035e7b;
$prussian: #003249;
$cambridge: #a3c1ad;
$celadon: #338679;
$tiffany: #17c3b2;
$opal: #8db7b0;
$platinum: #e6e8e6;
$aubergine: #674a57;
$lilac: #885a89;
$fuchsia: #c247b4;

$blue: $sapphire;
$red: $ruby;
$orange: $flame;
$yellow: $gamboge;
$green: $celadon;
$teal: $cambridge;
$cyan: $tiffany;
$indigo: $prussian;
$purple: $lilac;
$pink: $fuchsia;

$gray-200: $platinum;

$primary: $rust;
$secondary: $green;
$light: $gray-200;

$body-bg: $gray-200;
