@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400;1,700&family=Tomorrow:wght@400;500;600;700&display=swap");

$font-family-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: Tomorrow, $font-family-sans-serif;

$rust: #b53c04;
$onyx: #3f3f3f;
$cambridge: #a3c1ad;
$opal: #8db7b0;
$platinum: #e6e8e6;
$aubergine: #674a57;

$blue: #035e7b;
$red: #9e000d;
$orange: #e14a14;
$yellow: #ee9900;
$green: #00695e;
$teal: $cambridge;
$cyan: #14e0b8;
$indigo: #003249;
$purple: #885a89;
$pink: #c247b4;

$gray-200: $platinum;

$primary: $rust;
$secondary: $green;
$light: $gray-200;

$body-bg: $gray-200;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 12,
);
